node_modules/
*/node_modules/

.env
.env.*
!.env.example
*.env
*.env.local

dist/
*/dist/
build/
*/build/

uploads/*
!uploads/.gitkeep
backend/uploads/*
!backend/uploads/.gitkeep
backend/database/*_local.json

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
